.btn-danger {
    background-color: #E76F51;
}

.text-danger{
    color: #E76F51 !important;
}

.btn-danger:hover {
    background-color: #fff;
    color: #E76F51;
}


.btn-outline-danger {
    color: #E76F51;
    border-color: #E76F51;
    background-color: #fff;
}

.btn-outline-danger:hover {
    color: #fff;
    border-color: #E76F51;
    background-color: #E76F51;
}

.carousel-item {
    height: 50vh;
    object-fit: cover;
    overflow: hidden;
}

#carouselExample {
    background: rgba(231, 111, 81, 0.10);
}

.rating-star {
    /* width: 20px; */
    height: 20px;
}

@media screen and (max-width: 576px) {
    .carousel-item {
        height: 100vh;
    } 
}
